{% extends "authentication/layout.html" %}
{% block title %}
Register
{% endblock %}

{% block body %}
<style>
  /* Styles for the registration form */
  form {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 50px; /* Added padding to push the form down */
  }

  h2 {
    text-align: center; /* Align heading to the center */
    font-size: 24px; /* Increase the font size */
    margin-bottom: 30px; /* Added margin at the bottom of the heading */
  }

  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  form button[type="submit"]:hover {
    background-color: #45a049;
  }

  .error-message {
    color: red;
    margin-bottom: 10px;
  }
</style>


<h2>Register as a Seller</h2>
  <form class = "registration-form" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    
    <button type="submit">Register</button>
  </form>
  <p>Already registered? <a href="{% url 'seller_login' %}">Login here</a>.</p>
{% endblock %}



