{% extends "home/layout.html" %}
{% block body %}
{% load static %}


<!-- adding custom js  -->

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"  crossorigin="anonymous">
<link rel="stylesheet" href="{% static '/css/home.css' %}">
<link rel="stylesheet" href="{% static '/css/mquery.css' %}">
<!-- <link rel="shortcut icon" href="favicon.png" type="image/x-icon"> -->

<!-- adding remixicon -->
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">


<!-- header section -->
<header>
  <div class="container flex ai-c jc-sb">
    <div class="left flex ai-c">
      <a href="#" class="logo"><img src="{%static 'images/logo.png' %}" alt="page logo" srcset=""></a>
      
      <nav class="nav-desktop">
        <a href="#">Home</a>
        
        {% if request.user.seller %}
        <a href="{% url 'property_form:create_property' %}">Add Listings</a>
        {% else %}
        <a href="#" onclick="showError()">Add Listing</a>
        {% endif %}    
        <a href="#">Contact</a>
        <a href="#">Services</a>
      </nav>
    </div>
    
    <div class="right flex ai-c">
      {% if user.is_authenticated %}
        <!-- User is logged in -->
        
        <div class="dropdown">
          <button class="dropbtn">{{ user.username }}</button>
          <div class="dropdown-content">
            <a href="{% url 'authentication:logout' %}">Logout</a>
          </div>
        </div> 
        
        <a href="#" class="favorites-link" title="Favorites">
          <button class="favorites-button">
            <i class="far fa-heart"></i>
          </button>
        </a>
        
        
        {% else %}
        
        <a href="{% url 'authentication:signin' %}"><button class="btn account">Sign In</button></a>
        <a href="{% url 'authentication:signup' %}"><button class="btn btn-fill">Register</button></a>
        
        
        
        
        {% endif %}
        <div class="hamb">
          <span class="top"></span>
          <span class="mid"></span>
          <span class="bottom"></span>
        </div>
        
      </div>
    </div>
  </header>
  
  
  <nav class="nav-mobile">
    <a href="#">Home</a>
    <a href="#">Add Listings</a>
    <a href="#">Contact</a>
    <a href="#">Services</a>
  </nav>
  <!-- hero section markup ========== -->
  <section class="hero" id="hero">
    <div class="container">
      <div class="desc">
        <h3 class="tag">Welcome to RealtyHive</h3>
        <h2 class="title">Discover a place you'll love to live</h2>
        <p class="text">Get the best property deals first,before they reach the mass market! hot foreclosure deals with simple search</p>
        <div class="search-local">
          <div class="icon">
            <ion-icon name="location-outline"></ion-icon>
          </div>
          
          <input id = "search-input" type="text" value="" autocomplete = 'off' placeholder=" Search for City...">
          <button id="search-button" data-url="{% url 'property_form:properties' %}">
            <span class="search-text">Search</span>            
          </button>
        
        </div>

        <div id="search-results"></div>


      </div>
    </div>
  </section>
  

  <section class="property" id ="property">
    <div class="container1">

      <p class="section-subtitle">Properties</p>
      <h2 class="h2 section-title">Featured Listings</h2>

      <ul class="property-list has-scrollbar">

        {% for property in properties %}
        {% if property.is_featured %}
        <li>
          <div class="property-card">

            <figure class="card-banner">
              <a href="{% url 'property_description_trade:property_detail' property.id %}">
                <img src="{{ property.pictures.url }}" alt="New Apartment Nice View" class="w-100">
                <button class="favorite-button" title="Add to Favorites"><i class="fas fa-heart"></i></button>
              </a>
            </figure>
            
            <div class="card-content">

              <div class="card-price">
                <strong>{{ property.price }}</strong>
              </div>

              <h3 class="h3 card-title">
                <a href="{% url 'property_description_trade:property_detail' property.id %}">{{ property.address }}</a>
              </h3>

              <p class="card-text">
                {{ property.overview }}
              </p>

              <ul class="card-list">

                <li class="card-item">
                  <strong>{{  property.bhk }}</strong>

                  <ion-icon name="bed-outline"></ion-icon>

                  <span>Bedrooms</span>
                </li>

                <li class="card-item">
                  <strong>2</strong>

                  <ion-icon name="man-outline"></ion-icon>

                  <span>Bathrooms</span>
                </li>

                <li class="card-item">
                  <strong>{{ property.square_feet }}</strong>

                  <ion-icon name="square-outline"></ion-icon>

                  <span>Square Ft</span>
                </li>

              </ul>
              {% endif %}
              {% endfor %}
            </div>
        </li>  
        
         </ul>

    </div>

  </section>
   
  
  <script src="{% static '/js/script.js' %}"></script>
  {% endblock %}