
{% extends "property_description_trade/layout.html" %}
{% block body %}
{% load static %}




    <style>
      
    
        @page {
            size: A4;
            margin: 0;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
        }

        .invoice-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            /* border: 2px solid #333; */
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #333;
            color: #fff;
        }

        .invoice-title {
            font-size: 24px;
        }

        .address {
            margin-top: 20px;
        }

        .address h2 {
            font-size: 18px;
            margin-bottom: 5px;
        }
        .address p {
            font-size: 16px;
            margin: 5px 0;
        }

        .item-list {
            margin-top: 20px;
            width: 100%;
            border-collapse: collapse;
        }
        .item-list th,
        .item-list td {
            border: 1px solid #333;
            padding: 8px;
            font-size: 16px;
            text-align: center;
        }
        .item-list th {
            background-color: #333;
            color: #fff;
        }

        .total {
            margin-top: 20px;
            text-align: right;
            font-size: 18px;
        }
    </style>

<div class="invoice-container">
    <div class="header">
        <h1 class="invoice-title">Invoice</h1>
        
    </div>
    <div class="address">
        <h2>Bill To:</h2>
        <p>{{ name }}</p>
        <p>{{ email }}</p>
    </div>
    <table class="item-list">
        <tr>
            <th>Address</th>
            <th>Price (Rupees)</th>
        </tr>
        <tr>
            <td>{{ address }}</td>
            <td> ₹ {{ amount }}</td>
        </tr>
        <!-- Add more rows for additional items -->
    </table>
    <div class="total">
        <p><strong>Total: ₹ {{ amount }}</strong></p>
    </div>
</div>
    

    {% endblock %}