
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --clr-primary: #0f1b4c;
    --clr-secondary: #063183;
    --cultured-2: hsl(192, 24%, 96%);
    --clr-white: #ffffff;
    --clr-black: #000000;
    --red: #da2535;
      --black: #292929;
      --white: #fbfbfb;
    --clr-light-blue: #0689ff;
    --cadet: hsl(200, 15%, 43%);
    --clr-title: #000336;
    --fs-5: 0.875rem;
    --clr-text: #5a6473;
    --clr-text-light: #7d8589;
    --clr-text-light-80: #a3a6ab;
    --alice-blue: hsl(210, 100%, 97%);
  
    --section-padding: 100px;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
.overview p {

    font-size: 1.2rem;
}
  a {
    text-decoration: none;
  }

  
  
  .favorites-button:hover {
    transform: scale(1.2);
  }
  
  body {
    background-color: #f6f8fa;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dddddd;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .property-heading {
    padding-top: 15px;
    padding-left: 22px;
    font-size: 24px;
    color: #333333;
    font-weight: 500;
  }
  
  #search-input::placeholder {
    font-size: 1.3rem;
  }

  .search-local {
    position: relative;
      width: 100%;
      max-width: 30rem;
      display: flex;
      align-items: center;
      column-gap: 1rem;
      padding-left: 2rem;
      background: var(--white);
      border-radius: 1rem;
      min-height: 1rem;
      height: 3em;
      border: 0.1rem solid var(--clr-primary);
      border-right: none;
      margin-left: 50px;
  }
  
  /* ICON */
  .icon {
      color: var(--clr-primary);
      font-size: 2.5rem;
      display: flex;
      align-items: center;
      cursor: pointer;
  }
  
  .icon:hover {
      animation: funny-icon 0.4s ease-in-out;
  }
  
  @keyframes funny-icon {
      0% {
          scale: 1;
      }
  
      50% {
          scale: 0.8;
          transform-origin: bottom;
          transform: rotate(-15deg);
      }
  
      100% {
          scale: 1;
      }
  }
  
  /* INPUT */
  .search-local input {
  
      height: 100%;
      width: 100%;
      flex: 1 1 25rem;
      background: var(--white);
      display: flex;
      outline: none;
      border: none;
      color: var(--black);
      font-size: 1.3rem;
  }
  
  input[type="text"]::placeholder {
      color: var(--black);
      font-size: 2.4rem;
  }
  
  /* BUTTON */
  .search-local button {
      background: var(--clr-primary);
      border: none;
      border-radius: 0 1rem 1rem 0;
      /* font-weight: 500; */
      font-size: 2.4rem;
      height: 3rem;
      width: 18rem;
      cursor: pointer;
      transition: all 0.3s;
      text-align: center;
      display: flex; /* Add this line */
      align-items: center;
      justify-content: center;
  }

  
  .search-text {
      color: var(--white);
    font-size: 29px;
  }
  
  .search-local button .search-icon {
      display: none;
  }
  
  .search-local button:hover {
      letter-spacing: 0.5rem;
  }
  .heading1 {
    padding-top: 150px;
    padding-left: 22px;
    font-weight: 550;
  }
  #search-results {
    position: absolute;
    width: 100%;
    max-width: 28.5rem;
    background-color: #ffffff;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
    left: 39.7%;
    overflow-y: auto;
    
    
  }
  
  #search-results.show {
    display: block;
  }
  
  #search-results .result-item {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 1.2rem;
    /* font-weight: 500; */
  }
  
  #search-results .result-item:last-child {
    border-bottom: none;
  }
  
  #search-results .result-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  

  .navbar-left {
    display: flex;
    align-items: center;
    
    gap: 30px;
  }


  .btn {
    font-family: "poppins", sans-serif; 
    font-size: 17px;
    font-weight: 500;
    color: var(--clr-primary);
    text-transform: capitalize;
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .btn-fill {
    border: 2px solid var(--clr-primary);
    background-color: var(--clr-primary);
    color: var(--clr-white);
    transition-duration: .3s;
    transition-property: border color background-color ;
  }
  
  .btn-fill:hover {
    border: 2px solid var(--clr-primary);
    background-color: transparent;
    color: var(--clr-primary);
  }
  
  .logo img {
    height: 40px;
    margin-right: 20px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fefefe;
    padding: 40px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    max-width: 500px;
  }
  
  .modal h2 {
    text-align: center;
    margin-top: 0;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 16px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #4f93ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal-button i {
    margin-right: 15px;
    color: #000;
  }
  
  .modal-button:hover {
    background-color: #377de0;
  }
  
  .modal-button:first-child {
    margin-right: 10px;
  }
  
  .modal-header {
    display: flex;
    align-items: center;
  }
  
  .modal-title {
    flex: 1;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .n-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .n-close {
    cursor: pointer;
    font-size: 24px;
  }
  
  .n-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 450px;
    max-width: 470px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .n-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .n-modal-header h2 {
    margin: 0;
  }
  
  .n-modal-divider {
    border-bottom: 2px solid #ccc;
    margin-bottom: 5px;
  }
  
  
  .nav-link {
    margin-right: 20px;
    color: var(--clr-primary);
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
  }
  
  .favorites-link {
    display: inline-block;
    text-decoration: none;
  }
  
  .favorites-button {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  
    font-size: 28px;
    transition: transform 0.3s ease-in-out;
  }

  .dropbtn {
    background-color: #333b72;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }

  #login-options {
    display: none;
  }
  
  
  .dropdown-content a {
    color: black;
    font-size: 1.2rem;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;
  border-radius: 10px;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #333b72;}


.nav-link:hover {
  color: var(--clr-title);
}
  .navbar-right {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .property-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  
  .favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 28px;
    transition: transform 0.3s ease-in-out;
  }
  
  .favorite-button:hover {
    transform: scale(1.2);
  }
  
  .property-card {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .property-image img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .property-details {
    padding: 20px;
  }
  
  .price {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #063183;
  }
  
  .address {
    font-size: 24px;
    color: #333333;
    margin-bottom: 15px;
    font-weight: 500;
  }
  
  .overview {
    font-size: 1.2rem;
    font-weight: 300;
    color: #666666;
    line-height: 1.5rem;
    margin-bottom: 15px;
  }
  
  .bottom-line {
    display: flex;
    justify-content: space-between;
  }
  
  .bottom-line div {
    font-size: 22px;
    font-weight: 400;
    color: #141010;
  }