{% extends 'property_form/layout.html' %}

{% block body %}

<style>

    body{
      background-color: #F0F0F0;
    }
    
    h2 {
      text-align: center;
      /* margin-bottom: 20px; */
    }
    *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family: 'Open Sans', sans-serif;
    }
      .card {
        background-color: #e6f0ff;
      width: 661px;
      height: 900px;
      margin:0 auto;
      margin-top:20px;
      border-radius: 10px;
      }
    
      .form-container {
        max-width: 400px;
        margin: 20px auto;
      }
      
      .form-input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border-radius: 5px;
      }
      
      .form-textarea {
        width: 100%;
        padding: 8px;
        height: 80px;
        margin-bottom: 10px;
        border: 2px solid black;
        border-radius: 5px;
      }
    
      .form-file {
        margin-bottom: 1px;
      }
    
      .form-submit-btn {
        background-color: #333b72;
        color: white;
        padding: 10px 14px;
        border: 2px solid #0f1b4c;
        cursor: pointer;
        font-size: 1.2rem;
        margin-top: 14px;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4)
        
      }
    
      .form-submit-btn:hover {
        background-color: #e6f0ff;
        color: #0f1b4c;
      }
    
      .card-header {
    
      
        background-color: #333b72;
      padding:20px;
      border-radius: 10px 10px 0 0; 
      color:white;
      word-spacing: 5px;
      letter-spacing: 2px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4)
      }
    
      label {
        font-size: 1.5rem;
      }
    </style>

<div class="card">
    <div class="card-header">
      <h2>Update Property</h2>
    </div>
    <div class="card-body">
      <form class="form-container" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="address">City</label>
        <input type="text" id="address" name="city" class="form-input" value="{{ property.city }}" required>
        
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" class="form-input" value="{{ property.address }}" required>
  
        <label for="square_feet">Square Feet:</label>
        <input type="text" id="square_feet" name="square_feet" class="form-input" value="{{ property.square_feet }}" required>
  
        <label for="overview">Overview:</label>
        <textarea id="overview" name="overview" class="form-textarea" required>{{ property.overview }}</textarea>
  
        <label for="bhk">BHK:</label>
        <input type="text" id="bhk" name="bhk" class="form-input" value="{{ property.bhk }}" required>
  
  
        <!-- Price -->
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" class="form-input" value="{{ property.price }}" required>
  
        <!-- Pictures -->
        <label for="pictures">Pictures:</label>
        <input type="file" id="pictures" name="pictures" class="form-file" accept="image/*">
  
        <!-- Submit Button -->
        <button type="submit" class="form-submit-btn">Update Property</button>
      </form>
    </div>
  </div>
  

{% endblock %}